*{
    padding: 0;
    margin-left: 10px;
    box-sizing: border-box;
}
.classChange{
    background-color: black;
    height: 5rem;
    width: 10rem; 
    color: white;
    margin: 20px;
    padding: 5px;
    border: 5px solid red;
    border-radius:10px;
}
.newClassChange{
    background-color: red;
    border:5px solid black;
    height: 5rem;
    width: 10rem; 
    color: white;
    margin: 20px;
    padding: 5px;
    border-radius:10px;
}
